services:
  laravel.example:
    build:
      context: .
      dockerfile: docker/php-8.4/Dockerfile
      target: dev
      args:
        WWWGROUP: 1000
        WWWUSER: 1337
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '${APP_PORT:-80}:80'
      - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
    environment:
      WWWUSER: 1337
      WWWGROUP: 1000
      LARAVEL_SAIL: 1
      XDEBUG_MODE: '${XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${XDEBUG_CONFIG:-client_host=host.docker.internal}'
      IGNITION_LOCAL_SITES_PATH: '${PWD}'
      DB_CONNECTION: pgsql
      DB_HOST: pgsql
      DB_PORT: 5432
      DB_DATABASE: laravel_example
      DB_USERNAME: laravel_example
      DB_PASSWORD: secret
    networks:
      - laravel-network
    volumes:
      - '.:/var/www/html'
    depends_on:
      mailpit:
        condition: service_healthy
      pgsql:
        condition: service_healthy
      redis:
        condition: service_healthy

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - laravel-network
    healthcheck:
      # Mailpit image is Alpine based, so we use wget to check the dashboard port
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8025/"]
      interval: 5s
      timeout: 5s
      retries: 3

  pgsql:
    image: 'postgres:18-alpine'
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      PGPASSWORD: secret
      POSTGRES_DB: laravel_example
      POSTGRES_USER: laravel_example
      POSTGRES_PASSWORD: secret
    volumes:
      - 'laravel-example-psql:/var/lib/postgresql/data'
      - './docker/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
    networks:
      - laravel-network
    healthcheck:
      test:
        - CMD
        - pg_isready
        - '-q'
        - '-d'
        - laravel_example
        - '-U'
        - laravel_example
      interval: 5s
      retries: 3
      timeout: 5s
      start_period: 10s

  redis:
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'laravel-example-redis:/data'
    networks:
      - laravel-network
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      interval: 5s
      timeout: 5s
      start_period: 10s

networks:
  laravel-network:
    driver: bridge
volumes:
  laravel-example-psql:
  laravel-example-redis:
