networks:
  backend:
    driver: bridge

# SERVICE TOOLS NEEDED FOR DEVELOPMENT
services:
  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - backend
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8025/"]
      interval: 5s
      timeout: 5s
      retries: 3

# SERVICES OVERRIDE
  laravel.test:
    build:
      context: ./docker
      dockerfile: php-8.4/Dockerfile
      target: dev
      args:
        WWWGROUP: '${WWWGROUP:-1000}'
        WWWUSER: '${WWWUSER:-1337}'
    # UNCOMMENT THE FOLLOWING LINES IF YOU WANT TO USE A SEPARATE .env FILE FOR DOCKER
    # BUT NOT FOR THE FIRST TIME EXECUTING `docker compose up`
    # env_file:
    #   - docker/default.env
    #   - .env # Override default.env
    volumes:
      - '.:/var/www/html'
    extends:
      file: docker/compose.yml
      service: laravel.test

  postgres:
    # UNCOMMENT THE FOLLOWING LINES IF YOU WANT TO USE A SEPARATE .env FILE FOR DOCKER
    # BUT NOT FOR THE FIRST TIME EXECUTING `docker compose up`
    # env_file:
    #   - docker/default.env
    #   - .env # Override default.env
    extends:
      file: docker/database/compose.yml
      service: postgres

  redis:
    # UNCOMMENT THE FOLLOWING LINES IF YOU WANT TO USE A SEPARATE .env FILE FOR DOCKER
    # BUT NOT FOR THE FIRST TIME EXECUTING `docker compose up`
    # env_file:
    #   - docker/default.env
    #   - .env # Override default.env
    extends:
      file: docker/database/compose.yml
      service: redis
