networks:
  backend:
    driver: bridge

# SERVICE TOOLS NEEDED FOR DEVELOPMENT
services:
  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - backend
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8025/"]
      interval: 5s
      timeout: 5s
      retries: 3

  laravel.test:
    build:
      context: ./docker
      dockerfile: php-8.4/Dockerfile
      target: dev
      args:
        WWWGROUP: '${WWWGROUP:-1000}'
        WWWUSER: '${WWWUSER:-1337}'
    volumes:
      - '.:/var/www/html'
    extends:
      file: docker/compose.yml
      service: laravel.test

include:
  - docker/database/compose.yml # Database service
